.button{
    margin-top: 40px;
    text-align: center;
}

.button a{
    font-family: Montserrat;
    background-color: orange;
    padding: 20px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.pop-up{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 2;
}
.pop-up.active{
    display: block;
}

.pop-up-container{
    display: flex;
    width: 100%;
    height: 100%;
}

.pop-up-body{
    margin: auto;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 100px 15px 110px 15px;
    position: relative;
}

.pop-up-body p{
    font-size: 28px;
    font-family: Montserrat;
    font-weight: 600;
    color: black;
    margin-bottom: 40px;
}

.pop-up-body button{
    cursor: pointer;
    display: block;
    width: 330px;
    margin: 60px auto 0px auto;
    padding: 20px 0px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(to left, #743ad5, #d53a9d);
}

.pop-up-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
}
