.login-form{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.login-container{
    text-align: center;
}

.login-submit{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
    border-radius: 9em;
}
input{
    font-size: 17px;
    width: 25%;
    height: 6%;
    margin-bottom: 10px;
    cursor: pointer;
}

.nuvbutton:hover{
    background-color: rgba(4, 4, 4, 0.5);
    color: white;
}

span{
    color: white;
    font-size: 18px;
}
.account-container{
    display: flex;
    margin-left: 5%;
}
.my-account{
    margin-right: 60%;
}
.exit{
    height: 50%;
}
.info{
    background-color: rgba(4, 4, 4, 0.5);
    border-radius: 9em;
    padding: 2%;
}

