body {
    background-image: linear-gradient(rgba(56, 124, 23), rgba(165,42,42));
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: white;
}

h1 {
    margin-left: 20px;
    color: white;
}

.container{
    background: rgba(0, 0, 0, 0.5);
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

nav{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    text-align: right;
}

main{
    height: 1300px;
    margin-top: 40px;
    padding-top: 20px;
    margin-bottom: 20px;
}

footer{
    text-align: center;
    height: 150px;
    border: 1px solid white;
}

a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 30px;
    margin-left: 25px;
    margin-right: 10px;
    padding: 10px 20px;
}

.mainPartOne a{
    margin-right: 45px;
    text-align: left;
    padding: 10px 20px;
}

.mainPartTwo,.mainPartCases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 55px;
}

.Fly, .Creative, .Vip, .Premium{
    box-sizing: border-box;
    width: 40%;
    padding: 100px;
    margin-top: 50px;
    border: 1px solid white;
}
.navbutton:hover {
    background-color: rgba(4, 4, 4, 0.2);
    transition-duration: 250ms;
}
.mainPartCases{
    visibility: hidden;
}
