<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <div class="container">
        <div data-th-include="header.html" class="mb-auto"></div>

        <main>
            <div>
                <p>Назва : <span th:text="${bperm.getName()}"></span></p>
                <p>Опис : <span th:text="${bperm.getDescription()}"></span></p>
                <p>Ціна : <span th:text="${bperm.getCost()}"></span></p>
                <a href="#">Купити</a>
            </div>
        </main>

        <section></section>

        <div data-th-include="footer.html" class="mb-auto"></div>

    </div>
</body>
</html>