<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div class="container">
    <nav>
        <a href="#" class="navbutton">Головна</a>
        <a href="#" class="navbutton">Новини</a>
        <a href="#" class="navbutton">Особистий Кабінет</a>
    </nav>

    <main>
        <div class="mainPartOne">
            <a href="#" class="navbutton">Привілегії</a>
            <a href="#" class="navbutton">Кейси</a>
        </div>

        <div class="mainPartTwo">
            <div class="Fly">
                <a href="#" class="navbutton">Флай</a>
            </div>
            <div class="Creative">
                <a href="#" class="navbutton">Креатив</a>
            </div>
            <div class="Vip">
                <a href="#" class="navbutton">Віп</a>
            </div>
            <div class="Premium">
                <a href="#" class="navbutton">Преміум</a>
            </div>
        </div>

    </main>

    <section></section>

    <footer></footer>
</div>

</body>
</html>
