<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/copy-button-alert.css">
</head>
<body>
    <div class="container">
        <div data-th-include="header.html" class="mb-auto"></div>

        <main>
            <div class="mainPartOne">
                <a class="navbutton" id="privileges">Привілегії</a>
                <a class="navbutton" id="cases">Кейси</a>
                <a class="navbutton" id="copy" onclick="copy()" onmouseout="outFunc()" data-clipboard-target="#copy">
                        minecraft.server.site</a>
            </div>

            <div class="mainPartTwo" id="mainPartTwo">
                <div class="Fly">
                    <a href="#" class="navbutton">Флай</a>
                </div>
                <div class="Creative">
                    <a href="#" class="navbutton">Креатив</a>
                </div>
                <div class="Vip">
                    <a href="#" class="navbutton">Віп</a>
                </div>
                <div class="Premium">
                    <a href="#" class="navbutton">Преміум</a>
                </div>
            </div>
            <div class="mainPartCases" id="mainPartCases">
                <div class="Fly">
                    <a href="#" class="navbutton">Кейс 1</a>
                </div>
                <div class="Creative">
                    <a href="#" class="navbutton">Кейс 2</a>
                </div>
                <div class="Vip">
                    <a href="#" class="navbutton">Кейс 3</a>
                </div>
                <div class="Premium">
                    <a href="#" class="navbutton">Кейс 4</a>
                </div>
            </div>

        </main>

        <section></section>

        <footer>
            <span class="footer-text">Повне або часткове копіювання сайту заборонено</span>
        </footer>
    </div>

    <script src="js/slide.js"></script>
    <script src="js/copy-button.js"></script>
    <script src="js/dist/clipboard.min.js"></script>
</body>
</html>
