<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/copy-button-alert.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:300&display=swap">
    <script src="https://kit.fontawesome.com/4afed5dafb.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div data-th-include="header.html" class="mb-auto"></div>

        <main>
            <div class="mainPartOne">
                <a class="navbutton" id="privileges">Привілегії</a>
                <a class="navbutton" id="cases">Кейси</a>
                <a class="navbutton" id="copy" onclick="copy()" onmouseout="outFunc()" data-clipboard-target="#copy">
                        minecraft.server.site</a>
            </div>

            <div class="mainPartTwo" id="mainPartTwo">
                <a href="#" class="navbutton" th:each="item : ${permissions}">
                    <i class="fa-solid fa-dove" th:text="${item.getName()}"></i>
                </a>
                        <!--<a href="#" class="navbutton">
                            <i class="fa-solid fa-dove">Флай</i>
                        </a>
                        <a href="#" class="navbutton">
                            <i class="fa-solid fa-dumbbell">Креатив</i>
                        </a>
                    <a href="#" class="navbutton">
                        <i class="fa-solid fa-martini-glass-citrus">Віп</i>
                    </a>
                    <a href="#" class="navbutton">
                        <i class="fa-solid fa-sack-dollar">Преміум</i>
                    </a>-->
            </div>
            <div class="mainPartCases" id="mainPartCases">
                <a href="#" class="navbutton" th:each="item : ${cases}">
                    <i class="fa-solid fa-caret-right" th:text="${item.getName()}"></i></a>
                <!--<a href="#" class="navbutton">
                    <i class="fa-solid fa-caret-right">Кейс1</i></a>
                <a href="#" class="navbutton">
                    <i class="fa-solid fa-caret-right">Кейс2</i></a>
                <a href="#" class="navbutton">
                    <i class="fa-solid fa-caret-right">Кейс3</i></a>
                <a href="#" class="navbutton">
                    <i class="fa-solid fa-caret-right">Кейс4</i></a>-->
            </div>

        </main>

        <section></section>

        <div data-th-include="footer.html" class="mb-auto"></div>

    </div>

    <script src="js/slide.js"></script>
    <script src="js/copy-button.js"></script>
    <script src="js/dist/clipboard.min.js"></script>
</body>
</html>
