<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/news-style.css">
</head>
<body>
    <div class="container">
        <div data-th-include="header.html" class="mb-auto"></div>
            <main>
                <div id="addArticle">
                    <div th:if="${user != null && user.getPermission().getId() == 1}">
                        <h2>Добавлення статті</h2>
                        <form action="/news" method="post">
                            <label>Назва статті</label><br>
                            <input type="text" name="title" id="titleOfArticle"><br>
                            <label>Стаття</label><br>
                            <textarea name="text" id="article"></textarea><br>
                            <input type="submit" class="button-add" value="Добавити"><br>
                        </form>
                    </div>
                </div>
                <div id="articles">
                    <h1>Останні новини</h1>
                    <div class="article" th:each="item : ${news}">
                        <h3 th:text="${item.getTitle()}"></h3>
                        <p th:text="${item.getText()}"></p>
                        <a href="#" th:href="@{/delete?id={id}(id=${item.getId()})}"
                           th:if="${user != null && user.getPermission().getId() == 1}">Видалити</a>
                    </div>
                </div>
            </main>
        <div data-th-include="footer.html" class="mb-auto"></div>
    </div>
</body>
</html>
