<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Office</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/login-form.css">

</head>
<body>
    <div class="container">
        <div data-th-include="header.html" class="mb-auto"></div>
        <main>
            <div class="account-container">
                <div class="my-account">
                    <p>
                        <span>Нікнейм: </span>
                        <span class="info" th:utext="${user.getNickname()}"></span>
                    </p>
                    <p>
                        <span>Привілегія: </span>
                        <span class="info" th:utext="${user.getPermission().getName()}"></span>
                    </p>
                </div>
                <a class="nuvbutton exit" href="/exit">Exit</a>
            </div>
            <div class="history-container">
                <h3>History</h3>
                <div th:each="item : ${histories}" class="history-element">
                    <span>Ви купляли <span th:text="${item.getDescription()}"></span></span>
                </div>
            </div>
        </main>
        <div data-th-include="footer.html" class="mb-auto"></div>
    </div>
</body>
</html>
